Telegram File to Text Extractor.json
{
  "name": "Telegram File to Text Extractor",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "d9b8ffd7-d0c1-455c-b89b-990fe8ba8e73",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -848,
        1360
      ],
      "webhookId": "f912c92e-9099-4604-85c6-e26c53de72db",
      "credentials": {
        "telegramApi": {
          "id": "inJtA2iUQOC68Q6g",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.message.document }}",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5e6f1d74-7360-4ea9-9e67-3d543ed30be1",
      "name": "Check if File Attached",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        1360
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "id-1",
                    "leftValue": "={{ $json.message.document.mime_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "id-2",
                    "leftValue": "={{ $json.message.document.file_name }}",
                    "rightValue": ".md",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "Text/Markdown"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "id-3",
                    "leftValue": "={{ $json.message.document.mime_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "id-4",
                    "leftValue": "={{ $json.message.document.mime_type }}",
                    "rightValue": "wordprocessingml",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "id-5",
                    "leftValue": "={{ $json.message.document.mime_type }}",
                    "rightValue": "msword",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "DOCX"
            }
          ]
        },
        "options": {}
      },
      "id": "64533dbd-5a9c-4d91-a5af-3f19b1529d84",
      "name": "Route by File Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -512,
        1008
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "text",
        "options": {}
      },
      "id": "570b5a9d-6947-4436-ace3-ff4e1a8a4a36",
      "name": "Extract Text from TXT/MD",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -288,
        896
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "681b5921-2d35-45b4-a618-d5590aace297",
      "name": "Extract Text from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -288,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "docx"
      },
      "id": "d40cf410-8765-4278-8a23-be801987c131",
      "name": "Extract Text from DOCX",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -288,
        1184
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Please send a file (text, markdown, PDF, or DOCX) to extract text from.",
        "additionalFields": {}
      },
      "id": "56e339fe-ed1f-4f96-9de5-5efbf41fd698",
      "name": "Send No File Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -464,
        1456
      ],
      "webhookId": "30e2dab4-fabd-4045-af90-7aa1a80c40bd",
      "credentials": {
        "telegramApi": {
          "id": "inJtA2iUQOC68Q6g",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst items = $input.all();\nconst jsonparse = JSON.parse(items[0].json.text);\n\nlet result = [{\n  json: {\n    timestamp: $now,\n    uploader: items[1].json.message.from.username,\n    file_name: items[1].json.message.document.file_name,\n    file_size: items[1].json.message.document.file_size,\n    language: jsonparse.language,\n    summary: jsonparse.summary,\n    keywords: jsonparse.keywords\n  \n  }}];\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        1328
      ],
      "id": "7833860f-d5da-4fe2-81d4-74f86e857202",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        272,
        1328
      ],
      "id": "39531384-5a82-4ded-9e39-f31222baee3a",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10XQlQF31Rcr4uFrEViIB_2SvHlYKhplFqXRaQ6vnQws",
          "mode": "list",
          "cachedResultName": "n8n database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10XQlQF31Rcr4uFrEViIB_2SvHlYKhplFqXRaQ6vnQws/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10XQlQF31Rcr4uFrEViIB_2SvHlYKhplFqXRaQ6vnQws/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "uploader": "={{ $json.uploader }}",
            "file_name": "={{ $json.file_name }}",
            "summary": "={{ $json.summary }}",
            "keywords": "={{ $json.keywords }}",
            "file_size": "={{ $json.file_size}}",
            "language": "={{ $json.language}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "uploader",
              "displayName": "uploader",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "file_size",
              "displayName": "file_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        1328
      ],
      "id": "aec35a49-58e8-41cd-bd78-a4fdeee8c357",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uapeOfb0Zig9tHvO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "type": "AIMessagePromptTemplate",
              "message": "Cуммаризируй текст, выдели ключевые слова и определи язык\nВывод должен быть следующего вида, формат должен быть именно такой который ниже обязательно текстовый:\n{\n\"summary\": \"<твоё саммари\",\n\"keywords\": \"<ключевые слова которые ты выделил, через запятые но не как массив, а как просто текст>\",\n\"language\": \"<двух буквенное сокращение: ru, en, итп>\"\n}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -32,
        1040
      ],
      "id": "8838a9b1-be28-4a6c-8074-cfc2f4d494b0",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "kwaipilot/kat-coder-pro:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -32,
        1168
      ],
      "id": "5c9b9bdb-ad46-47ae-9a43-86e940a6316f",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "yl7dfnl1zNNMqzHM",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check if File Attached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if File Attached": {
      "main": [
        [
          {
            "node": "Route by File Type",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Send No File Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by File Type": {
      "main": [
        [
          {
            "node": "Extract Text from TXT/MD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text from PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text from DOCX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from TXT/MD": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from PDF": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from DOCX": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "94dd6ab4-7920-49b3-b924-b0c1484ca0d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "db74d0b0dd3828a1ef93c072fc7f8e51c8f0503d381f0ee6aedb142ab7d2b823"
  },
  "id": "raeRcTvXXajS2kRJ",
  "tags": []
}